

# This is the DIST version. Copy into env.sh and edit. Please remove this line afterwards.

PROJECT_ID="my-project" # CHANGE to your project id
BUCKET="my-bucket"      # CHANGE to bucket: gs://my-bucket/

ZONE="us-central1-f"    # change if you want (not needed)